<span id="FowarRevenueReport">Flown Revenue Report</span>
<ul class="nav nav-pills nav-stacked">
    <li class="active"><a id='myNav'>KPI</a></li>
    <li><a class="kpy" (click)="setKpi('$prorated_fare_amount')">Coupon fare</a></li>
    <li><a class="kpy" (click)="setKpi('$coupon_number')">Number of Coupons</a></li>
    <li><a class="kpy" (click)="setKpi('$event_number')">Event of Coupons</a></li>
    <!--Test-->
    <button class="btn btn-default" (click)="goToQlik()">Go To Qlik</button>
</ul>
